*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
    scroll-behavior: smooth; /* Comportamento del scroll quando premo i link anchor */
}

 .container{
    height: 100vh;
    width: 100%;
    position: relative;
}

nav{
    position: fixed; /* Così la nav bar rimane in alto a destra */
    top: 50px;
    right: 20px;
    z-index: 1;
}

nav a{
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: black;
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
}

/* Si attiva quando premo con il mouse sul <a> */
nav a:active{
    background-color: darkgray;
}

nav a:hover{
    box-shadow: 0 5px 10px 0;
}

nav a:nth-child(2){
    margin: 0 20px;
}

.block{
    height: 100vh;
    width: 100%;
    position: relative;
}

.shoes{
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Per centrarla per bene */
}

h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    color: yellow;
}

.bottom .shoes h2 {
    color: green;
}

.top{
    background-color: red;
}

.center{
    background-color: green;
}

.bottom{
    background-color: yellow;
}